body {
  width: 100%;
}

#root {
  margin: 0px;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* VIVO O MUERTO */
.status-circulo {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 60%;
  margin-left: 85%;
}

.vivo {
  background-color: green;
}

.muerto {
  background-color: red;
}

/* ESTILO DE LA CARTA */
.padre {
  display: flex;
  flex-wrap: wrap;
}

.contenedor {
  width: 50%;
}

.carta {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20%;
  padding: 30px;
  margin: 10px 40px;
  height: 22rem;
}

.carta>img {
  width: 85%;
  height: 55%;
  border-radius: 20%;
}

/* PAGINACIÓN */
.paginacion ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.paginacion li {
  text-decoration: none;
  cursor: pointer;
}

.paginacion a {
  color: black;
}

.paginationActive a {
  color: gray;
}

.paginationDisabled a {
  display: none;
}

/* FORMULARIO */
.filtro {
  border: 2px solid black;
  padding: 0px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
}

.filtro input,
select {
  width: 90%;
  margin-bottom: 10px;
}

/* BOTON TEMA */
#root>div>button {
  margin-left: 85%;
}

#root>div>button>svg {
  font-size: 1.2rem;
}

/* SIN RESULTADOS */
.no-results-container {
  text-align: center;
  padding: 10px;
}